@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap');

html {
  width: 100%;
  box-sizing: border-box;
  color: #101010;
  font-family: 'Comfortaa', cursive;
  height: 100%;
}

body {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  background-color: rgb(16 204 203);
  background-image: url(../images/backgroundimg.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --black: #272a31;
  --grey: #d3d3d3;
  --white: #fff;
  --darkgrey: rgb(96, 92, 92);
  --text: grey;
}

header {
  margin: 4em;
  margin-left: 2em;
}

main {
  margin-left: 4em;
  display: flex;
  gap: 10em;
  width: 90%;
}

.recentScores {
  width: 40%;
}

.scoreHeading {
  display: flex;
  margin-bottom: 1em;
}

.hRecent {
  width: 80%;
}

.refresh {
  padding: 3px 7px;
  border: 0.2px solid var(--black);
  border-right: 3px solid var(--black);
  border-bottom: 3px solid var(--black);
  background-color: rgb(118, 236, 95);
  font-weight: 700;
}

ul {
  border-radius: 4px;
  background-color: hsl(240deg 83% 66% / 15%);
}

ul li {
  list-style: none;
  border: 1px;
  border-style: inset;
  padding: 0.2em;
  padding-left: 1em;
  font-size: 15px;
  font-weight: 700;
}

/* right side */

.addScore {
  margin-right: 2em;
  width: 45%;
}

.hAdd {
  margin-bottom: 0.6em;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

input {
  padding: 5px 7px;
  font-size: 15px;
  font-weight: 700;
  border: 3px solid var(--black);
  width: 100%;
  border-radius: 4px;
  background-color: rgb(254, 142, 36);
  color: var(--black);
}

input:last-child {
  padding: 5px 7px;
  border: 0.2px solid var(--black);
  border-right: 3px solid var(--black);
  border-bottom: 3px solid var(--black);
  border-radius: 0%;
  width: 80px;
  background-color: rgb(71, 199, 46);
}

.playerDetails {
  display: grid;
  grid-template-columns: 1fr 5fr;
  font-weight: 700;
  text-align: left;
  gap: 6px;
}

.playerName::first-letter {
  text-transform: uppercase;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: rgba(221, 108, 37, 0.929);
  width: 100%;
  padding: 1em;
}
